<%- include("templates/header") %>
<div class="container pb-5">
  <h1>Edit Recipe</h1>

  <form id="editForm" method="POST" action="/edit">
    <div class="form-group mb-3">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" name="title" value="<%= recipe.title %>" required>
    </div>
    <div class="form-group mb-3">
      <label for="details">Details</label>
      <textarea class="form-control" id="details" name="details" rows="12" required><%= recipe.details %></textarea>
    </div>
    <div class="form-group mb-3">
      <label for="healthScore">Health Score</label>
      <input type="number" class="form-control" id="healthScore" name="healthScore" value="<%= recipe.healthScore %>" required>
    </div>
    <div class="form-group mb-3">
      <label for="cookTime">Cook Time</label>
      <input type="text" class="form-control" id="cookTime" name="cookTime" value="<%= recipe.cookTime %>" required>
    </div>
    <div class="form-group mb-3">
      <label for="servings">Servings</label>
      <input type="number" class="form-control" id="servings" name="servings" value="<%= recipe.servings %>" required>
    </div>

    <div class="form-group border p-3 mb-3">
      <label for="ingredients">Ingredients</label>
      <ul class="list-group">
        <% for (let i = 0; i < recipe.ingredients.length; i++) { %>
          <li class="list-group-item">
            <textarea class="form-control" id="ingredient<%= i %>" name="ingredients" rows="1" required><%= recipe.ingredients[i].original %></textarea>
          </li>
        <% } %>
      </ul>
    </div>

    <div class="form-group mb-3">
      <label for="calories">Calories</label>
      <input type="text" class="form-control" id="calories" name="calories" value="<%= recipe.cal %>" required>
    </div>
    <div class="form-group mb-3">
      <label for="protein">Protein</label>
      <input type="text" class="form-control" id="protein" name="protein" value="<%= recipe.pro %>" required>
    </div>
    <div class="form-group mb-3">
      <label for="carbs">Carbs</label>
      <input type="text" class="form-control" id="carbs" name="carbs" value="<%= recipe.carbs %>" required>
    </div>
    <div class="form-group mb-3">
      <label for="fat">Fat</label>
      <input type="text" class="form-control" id="fat" name="fat" value="<%= recipe.fat %>" required>
    </div>

    <div class="form-group mb-3">
      <label for="instructions">Instructions</label>
      <ol class="list-group">
        <% for (let i = 0; i < recipe.instructions.length; i++) { %>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-2">
                <%= i + 1 %>.
              </div>
              <div class="col-md-10">
                <% const instruction = recipe.instructions[i].step; %>
                <textarea class="form-control" id="instruction<%= i %>" name="instructions" rows="<%= Math.ceil(instruction.length / 80) %>" required><%= instruction %></textarea>
              </div>
            </div>
          </li>
        <% } %>
      </ol>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<%- include("templates/footer") %>